/* HTML Selectors */
body {
    font-family: 'Kalam', cursive;
    background-color:#87CEEB; /* SkyBlue */
}
#container {
    width: 400px;
    margin: 40px auto 0;
    padding: 50px;
    box-sizing: border-box; /* ignore padding for the box */
    box-shadow: 15px 15px 15px -8px #000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    background-color:#F0FFFF; /* Azure */
}

h1 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #ddd;
    
}

form {
    text-align: left;
    
}

form label {
    display: block;
    margin: 25px 0;
    font-weight: bold;
}

form input, 
for select {
    padding: 8px;
    margin: 10px 0;
}

form input[type="text"] {
    width: 90px;
}

button {
    background: #4682B4; /* SteelBlue */
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
}

button:hover {
    background: #B0C4DE; /* LightSteelBlue*/
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 50px;
    margin-top: 40px;
}

#totalTip:before {
    content: "Tip Amount";
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 24px;
    top: -18px;
}

#totalTip small {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}



nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}


/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }
}
